```{css}

h1.title {
  font-size: 160px;
  line-height: 90px;
}

h1.subtitle {
  color: #FCF174;
  font-size: 80px;
  line-height: 90px;
}

h2.author {
  font-size: 50px;
  font-weight: normal;
  line-height: 90px;
}

h3.date{
  color: #FC74A4;
  font-size: 40px;
  font-weight: normal;
  line-height: 90px;  
}

``` 